<p id="notice"><%= notice %></p>

<p>
  <strong>Urlad:</strong>
  <%= @cra.urlad %>
</p>

<p>
  <strong>Words:</strong>
  <%= @cra.words %>
</p>

<%= link_to 'Edit', edit_cra_path(@cra) %> |
<%= link_to 'Back', cras_path %>
